EXPO_PUBLIC_SUPABASE_URL=https://vcqiivjxejpcjshgcagp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjcWlpdmp4ZWpwY2pzaGdjYWdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NjM5MzAsImV4cCI6MjA4OTEzOTkzMH0.6BRV6RsR0UpCccscNcc0QEIiwpwo4gZXi-f2XDp3RlI
